@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav-section */
.nav-section{
    width: 1530px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}
.nav-section h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
.nav-section button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    padding: 14px 20px 14px 20px;
}

/* hero-section */
.hero-section{
    width: 1530px;
    height: 700px;
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-div{
    width: 1000px;
    height: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-div img{
    width: 240px;
    height: 240px;
}
.hero-div h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
}
.hero-div p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.hero-div button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 600;
    line-height: 18x;
    letter-spacing: 0%;
    text-align: center;
    padding: 18px 20px 18px 20px;
    margin: 24px 0px;
}
/* why web section  */
.whywebdev-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whywebdev-div{
    width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.whywebfirst-section{
    display: flex;
}