@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav-section */
.nav-section{
    width: 1530px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
}
.nav-section h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 22px;
    font-weight: 800;
    line-height: 25px;
    letter-spacing: 0%;
    text-align: left;
}
.nav-section button{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 600;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    padding: 14px 20px 14px 20px;
}

/* hero-section */
.hero-section{
    width: 1530px;
    height: 700px;
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-div{
    width: 1000px;
    height: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-div img{
    width: 240px;
    height: 240px;
}
.hero-div h2{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 38px;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
}
.hero-div p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.hero-div button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 600;
    line-height: 18x;
    letter-spacing: 0%;
    text-align: center;
    padding: 18px 20px 18px 20px;
    margin: 24px 0px;
}
/* why web section  */
.whywebdev-section{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.whywebdev-div{
    width: 1140px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.whywebdev-div .whywebdev-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
}
.whywebdev-div .whywebdev-ptag{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
.whywebfirst-section{
    display: flex;
    width: 950px;
    height: 340px;
    justify-content: space-between;
    align-items: center;
}
.whywebsecond-section{
    display: flex;
    width: 950px;
    height: 340px;
    justify-content: flex-start;
    align-items: center;
}
.whywebthird-section{
    display: flex;
    width: 950px;
    height: 340px;
    justify-content: space-between;
    align-items: center;
}
.whywebcommon-div{
    width: 470px;
    margin: 0px 50px;
}
.whywebcommon-section h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin: 14px 0px;
}
.whywebcommon-section p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 28px;
}
.whywebcommon-section a{
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    text-decoration: none;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    padding: 10px 16px 10px 10px;
}
.whywebcommon-section img{
    width: 260px;
    height: 220px;
}

/* my inspiration section  */
.myinspiration-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.myinspiration-div{
    width: 1140px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.myinspiration-div h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px 0;
}
.myinspiration-div p{
    width: 850px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-bottom: 40px;
}

/* my current target section  */
.mycurrenttarget-section{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}
.mycurrenttarget-div{
    width: 1140px;
    height: 460px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.currenttarget-titlediv{
    text-align: center;
    margin: 48px 0px;
}
.currenttarget-titlediv h3{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.currenttarget-titlediv p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 24px 0px;
}
.card-div{
    display: flex;
    gap: 20px;
}
.single-card{
    width: 365px;
    height: 300px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px;
}
.single-card img{
    width: 56px;
    height: 56px;
    background: rgb(255, 255, 255);
    margin-bottom: 28px;
}
.single-card h4{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 800;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.single-card p{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin: 8px 0px 28px 0px;
}
.single-card a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
.css-card{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}
.javascript-card{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}